* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: sans-serif;
}

/* Navbar styling */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 10px 2px rgb(139, 138, 138);
}

.nav-logo img {
    height: 50px;
}

.nav-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.search input {
    width: 30rem;
    font-size: 2rem;
    padding: 0.1em 0.5em;
}

.search input:focus {
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

.nav-links li {
    display: inline-block;
    margin: 0 1.5em;
}

.nav-links li a {
    text-decoration: none;
    font-weight: bold;
    color: black;
    border-bottom: 2px solid transparent;
    transition: 0.2s ease-in-out;
}

.nav-links li a:hover {
    border-bottom: 2px solid rgb(5, 5, 180);
    transition: 0.2s ease-in-out;
}

/* ************************************************************************************************************** */

.restaurant-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1.5em;
}

.restaurant-card img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.restaurant-card {
    width: 300px;
    margin: 0.5em;
    box-shadow: 0px 0px 2px 2px rgb(206, 205, 205);
    border-radius: 10px;
}

.restaurant-card h2 {
    font-weight: 500;
    font-size: 2rem;
    border-bottom: 2px solid black;
    margin-bottom: 0.5em;
    margin-left: 10px;
}

.restaurant-card p {
    font-size: 1.5rem;
    border-bottom: 2px solid rgb(187, 185, 185);
    padding: 0.1em;
    margin-left: 10px;

}